#####################
# User defined
#####################

#####################
# Standard FHS
#####################
docs/resources/
themes/
*.log
.bin/
vendor/
gh-pages/
bin/
tmp/
output/
/releases/
!/*/releases/

#####################
# ZORALab's Monteur
#####################
/.monteurFS/
/.configs/montuer/secrets/

#####################
# Rust
#####################
target/

#####################
# Hugo
#####################
public/
.hugo_build.lock

#####################
# LetsEncrypt
#####################
certbot.log

#####################
# Android Studio
#####################
/build

#####################
# vim specifics
#####################
4913
*.swp

#####################
# C Language
#####################
*.d
!*.d/
*.o
*.elf
*.hex
*.bin

#####################
# MacOS specifics
#####################
.DS_Store

#####################
# AWS CLI credential blobs
#####################
.aws/credentials
aws/credentials
homefolder/aws/credentials

#####################
# Private RSA SSH keys
#####################
/ssh/id_rsa
/.ssh/personal_rsa
/config/server_rsa
id_rsa
.id_rsa

#####################
# Private DSA SSH keys
#####################
/ssh/id_dsa
/.ssh/personal_dsa
/config/server_dsa
id_dsa
.id_dsa

#####################
# Private ed25519 SSH keys
#####################
/ssh/id_ed25519
/.ssh/personal_ed25519
/config/server_ed25519
id_ed25519
.id_ed25519

#####################
# Private ECDSA SSH keys
#####################
/ssh/id_ecdsa
/.ssh/personal_ecdsa
/config/server_ecdsa
id_ecdsa
.id_ecdsa

#####################
# Any file with .pem or .key extensions
#####################
*.pem
*.key
*.crt

#####################
# Any file ending with _history or .history extension
#####################
pry.history
bash_history
